version: "3.9"

services:
  # =========================
  # MYSQL
  # =========================
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3308:3306"
    networks:
      - commande-network

  # =========================
  # EUREKA SERVER
  # =========================
  eureka-server:
    build: ./eureka-server
    image: eureka-server:latest
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - commande-network
    depends_on:
      - mysql

  # =========================
  # CONFIG SERVER
  # =========================
  config-server:
    build: ./config-server
    image: config-server:latest
    container_name: config-server
    ports:
      - "9090:9090"
    networks:
      - commande-network
    depends_on:
      - eureka-server
    environment:
      SPRING_PROFILES_ACTIVE: native
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
    volumes:
      - ./config-repo:/config-repo

  # =========================
  # USER SERVICE
  # =========================
  user-service:
    build: ./user-service
    image: user-service:latest
    container_name: user-service
    ports:
      - "9092:9092"
    networks:
      - commande-network
    depends_on:
      - mysql
      - config-server
      - eureka-server
    environment:
      SPRING_APPLICATION_NAME: user-service
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:9090
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka

  # =========================
  # COMMANDE SERVICE
  # =========================
  commande-service:
    build: ./commande-service
    image: commande-service:latest
    container_name: commande-service
    ports:
      - "9091:9091"
    networks:
      - commande-network
    depends_on:
      - mysql
      - config-server
      - eureka-server
    environment:
      SPRING_APPLICATION_NAME: commande-service
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:9090
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka

  # =========================
  # GATEWAY SERVICE
  # =========================
  gateway:
    build: ./gateway-service
    image: gateway:latest
    container_name: gateway-service
    ports:
      - "2020:2020"
    networks:
      - commande-network
    depends_on:
      - eureka-server
      - config-server
    environment:
      SPRING_APPLICATION_NAME: gateway-service
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:9090

  # =========================
  # PROMETHEUS
  # =========================
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9095:9090"
    networks:
      - commande-network
    depends_on:
      - gateway
      - user-service
      - commande-service
      - eureka-server

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "9096:3000"
    networks:
      - commande-network
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana-provisioning:/etc/grafana/provisioning
      - ./grafana-provisioning/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus

  # =========================
  # PRODUCT SERVICE
  # =========================
  product-service:
    build: ./notebooks_Project-produits/productsmanagement
    image: product-service:latest
    container_name: product-service
    ports:
      - "9099:8000"
    networks:
      - commande-network
    depends_on:
      - mysql
      - config-server
      - eureka-server
    environment:
      SECRET_KEY: django-super-secret-key-123456
      DEBUG: true
      ALLOWED_HOSTS: localhost,127.0.0.1,product-service
      DATABASE_NAME: db.sqlite3
      EUREKA_SERVER: http://eureka-server:8761/eureka
      INSTANCE_HOST: product-service
      INSTANCE_PORT: 8000
      INSTANCE_ID: product-service:8000

networks:
  commande-network:
    driver: bridge
