version: "3.8"

services:

  eureka-server:
    build: ./eureka-server
    image: eurekaserver:latest
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - commande-network

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestionUser
    ports:
      - "3308:3306"
    networks:
      - commande-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  commande-service:
    build: ./commande-service
    image: commande-service:latest
    container_name: commande-service
    ports:
      - "9091:9091"
    depends_on:
      mysql:
        condition: service_healthy
      eureka-server:
        condition: service_started
    networks:
      - commande-network
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/gestionCommande?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  user-service:
    build: ./user-service
    image: user-service:latest
    container_name: user-service
    ports:
      - "9092:9092"
    depends_on:
      mysql:
        condition: service_healthy
      eureka-server:
        condition: service_started
    networks:
      - commande-network
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/gestionUser?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  gateway:
    build: ./gateway
    image: gateway:latest
    container_name: gateway
    ports:
      - "2020:2020"
    depends_on:
      eureka-server:
        condition: service_started
    networks:
      - commande-network
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka

networks:
  commande-network:
    driver: bridge
